.header nav{
	border-top:5px solid #3BAFBE;
	border-bottom:1px solid lightgrey;
}
.intro-im{
	max-width:100%;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover {
	color:#3bafbe;
}
.advertise p{
	font-size: 22px; 
	color: #666666;
	font-family: "Georgia";
	text-align: center;
	font-style:italic;
	margin:0 10%;
}
.ser-text,.ser-title{
	font-size: 14px; 
	color: #848c92;
	font-family: "Georgia";
}
.head-bars a{
	font-size: 14px;
	font-family: "Georgia";
	color: #999999;
}
.title{
	color: #4a4a4a;
	font-family: "Georgia";
}
.txt{
	font-size: 14px;
	color: #999999;
	font-family: "Georgia";
}
.foot-head{
	font-size: 20px; 
	color: #ffffff;
	font-family: "Georgia";
	padding-bottom: 15px;
}
.footer p{
	font-size: 13px; 
	color: #999999;
	font-family: "Georgia";
}
.link{
	border-bottom: 1px solid #999999;
}
.foot-form input{
	background-color: #2B2B2B;
	color: #989898;
}
.below-footer{
	background: black; 
	font-size: 13px; 
	color: #999999;
	font-family: "Georgia";
}
.slide-heading{
	font-size: 42px; 
	color: #4a4a4a;
	font-family: "Georgia";
}
.slide-text{   
	color: #999999;
	font-family: "Georgia";
}
.carousel-indicators li{
	background: #3BAFBE!important;
	border-radius: 50%; 
	width:21px!important;
}
.contact{
	 background:#EAEFF9;
	 padding:60px 0px;
	 text-align:center;
 }
 
 .contact h1{
	 text-align:center;
	 font-family:tahoma;
	 font-weight:bold;
	 margin-bottom:40px;
 }
 .contact h6{
	 font-size:12px;
 }
 .contact p{
	 font-size:14px;
	 font-weight:bold;
 
 }
 .faa{
	 background:black;
	 color:white;
	 border-radius:70px;
	 padding:15px;
 }
 .facontact{
	 color:white;
	 margin-left:4px;
	 text-align:center;
 }
 .facircle{
	 
	 background:black;
	 width:13%;
	 position:relative;
	 top:-14px;
	 z-index:1;
 }
.form{
	margin-top:20px;
	border:1px solid lightgrey;
	padding:30px 30px 20px;
	background:white;
}
  .email{
	 margin-left:13px;
 }
 .bg{
	 background-color:#EAEFF9!important;
 }
#faq {
  padding: 60px 0;
  overflow: hidden;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ebebeb;
}

#faq #faq-list a {
  padding: 22px 0;
  display: block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 20px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

#faq #faq-list a.collapse {
  color: #1bb1dc;
}

#faq #faq-list a.collapsed {
  color: #000;
}

#faq #faq-list a.collapsed i::before {
  content: "\f2c7" !important;
}
.register{
background: -webkit-linear-gradient(left, #3931af, #00c6ff);
margin-top: 3%;
padding: 3%;
}
.register-left{
text-align: center;
color: #fff;
margin-top: 4%;
}
.register-left input{
border: none;
border-radius: 1.5rem;
padding: 2%;
width: 60%;
background: #f8f9fa;
font-weight: bold;
color: #383d41;
margin-top: 30%;
margin-bottom: 3%;
cursor: pointer;
}
.register-right{
background: #f8f9fa;
border-top-left-radius: 10% 50%;
border-bottom-left-radius: 10% 50%;
}
.register-left img{
margin-top: 15%;
margin-bottom: 5%;
width: 25%;
-webkit-animation: mover 2s infinite  alternate;
animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
0% { transform: translateY(0); }
100% { transform: translateY(-20px); }
}
@keyframes mover {
0% { transform: translateY(0); }
100% { transform: translateY(-20px); }
}
.register-left p{
font-weight: lighter;
padding: 12%;
margin-top: -9%;
}
.register .register-form{
padding: 10%;
margin-top: 10%;
}
.btnRegister{
float: right;
margin-top: 10%;
border: none;
border-radius: 1.5rem;
padding: 2%;
background: #0062cc;
color: #fff;
font-weight: 600;
width: 50%;
cursor: pointer;
}
.register .nav-tabs{
margin-top: 3%;
border: none;
background: #0062cc;
border-radius: 1.5rem;
width: 28%;
float: right;
}

.register .nav-tabs .nav-link{
padding: 2%;
height: 34px;
font-weight: 600;
color: #fff;
border-top-right-radius: 1.5rem;
border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
border: none;
}
.register .nav-tabs .nav-link.active{
width: 100px;
color: #0062cc;
border: 2px solid #0062cc;
border-top-left-radius: 1.5rem;
border-bottom-left-radius: 1.5rem;
}
.register-heading{
text-align: center;
margin-top: 8%;
margin-bottom: -15%;
color: #495057;
}   