<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="keywords">
    <meta name="description" content="Website description">
    <link rel="stylesheet" type="text/css" href="assets/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/jsfile.js"></script>
    <title>MY PROJECT</title>
</head>

<body>
    <!--                        BANNER SECTION STARTS FROM HERE                          -->
    <section class="container-fluid header px-0">
        <nav class="navbar navbar-expand-lg navbar-light px-0 header fixed-top">
            <div>
                <ul type="none" class="logo pl-4">
                    <li><a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="logo"></a> </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-light"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarText">
                <ul class="navbar-nav ml-auto head-bars mr-3 ">
                    <li class="nav-item active">
                        <a class="nav-link text-info" href="base.html">HOME <span class="sr-only" </span> </a>
					</li>			
					<li class="nav-item hover1">
                        <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup.html">REGISTER</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="login.html">LOGIN</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">CONTACT US</a>
                    </li> 
                </ul>
            </div>
        </nav>
    </section>
    <section class="container-fluid border-bottom border-muted banner "style="padding-top:90px;">
      <video width="100%" height="500px" controls>
            <source src="assets/videos/v1.mp4" type="video/mp4">
     </video>
    </section>
    
    <section class="container-fluid intro border-bottom border-muted ">
        <h2 class="About text-center border border-info">About</h2>
        <div class="row mx-auto">
            <div class="col-md-4 py-2"> 
                <p style="  height:200px">Joining ML-AI Hub is absolutely FREE. Attending lectures, talks and meetups is also FREE. Entry to some workshops or competitions may be chargeable but again, the charges will be returned as prize money.</p>
            </div>
            <div class="col-md-4 py-2"> 
                <p style="  height:200px">Joining ML-AI Hub is absolutely FREE. Attending lectures, talks and meetups is also FREE. Entry to some workshops or competitions may be chargeable but again, the charges will be returned as prize money.</p>
            </div>
            <div class="col-md-4"> 
          <div class="container-fluid">
        <header class="section-header">
          <h3>FAQ</h3> 
        </header>

        <ul id="faq-list" class="wow fadeInUp">  

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Do I need to attend every meetup?<i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                No, it's not a compulsion for anyone to attend every meetup/workshop/competition. The community won't restrict anyone to skip any of the event if the topic of that particular workshop/meetup doesn't fall under his/her domains of interest. But you need to keep in mind that more you'll attend, better you'll learn.
            </div>
          </li> 

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Who will be the mentors for community? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
                 Community leaders will regularly keep on inviting various industrial people for guest lectures and support. Also community mentors will include professors and students (pursuing internship or remote job) who have good amount of knowledge in these domains.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">Is joining this community free? <i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p>
                Joining ML-AI Hub is absolutely FREE. Attending lectures, talks and meetups is also FREE. Entry to some workshops or competitions may be chargeable but again, the charges will be returned as prize money.
              </p>
            </div>
          </li> 
        </ul>

      </div>
            </div>
        </div>
    </section>
    
    <section class="container-fluid intro border-bottom border-muted ">
        <h2 class="About text-center border border-info">Issues section</h2>
        <div class="row mx-auto text-center ">
            <div class="col-md-4 pb-2"> 
                <p class="py-5" style="background: cyan; height:200px">TOTAL ISSUES POSTED </p>
            </div>
            <div class="col-md-4 pb-2"> 
                <p class="py-5" style="background: cyan; height:200px">TOTAL ISSUES PENDING</p>
            </div>
            <div class="col-md-4"> 
                <p class="py-5" style="background: cyan; height:200px">TOTAL ISSUES RESOLVED</p>
            </div>
        </div>
    </section>
    
    <section class="container-fluid intro border-bottom border-muted py-5">
        <h2 class="text-center pb-4">Top States for Wort Issues inside this when we got the issue we will update here</h2>
       <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 text-center">
                            <img src="assets/images/slide-image.png" alt="moniter">
                        </div>
                        <div class="col-lg-6 ">
                            <p class="slide-heading mb-2">YOUR TITLE HERE</p>
                            <p class="slide-text">Cursuspenatisaccum curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
                            <div class="">
                               <a href="#"> <button type="button" class="bg-info text-light px-2 py-1 rounded border-0">READ MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="carousel-item">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 text-center">
                            <img src="assets/images/slide-image.png" alt="moniter">
                        </div>
                        <div class="col-lg-6 ">
                            <p class="slide-heading mb-2">YOUR TITLE HERE</p>
                            <p class="slide-text">Cursuspenatisaccum curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
                            <div class="">
                               <a href="#"> <button type="button" class="bg-info text-light px-2 py-1 rounded border-0">READ MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="carousel-item">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 text-center">
                            <img src="assets/images/slide-image.png" alt="moniter">
                        </div>
                        <div class="col-lg-6 ">
                            <p class="slide-heading mb-2">YOUR TITLE HERE</p>
                            <p class="slide-text">Cursuspenatisaccum curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
                            <div class="">
                               <a href="#"> <button type="button" class="bg-info text-light px-2 py-1 rounded border-0">READ MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row d-flex align-items-center">
                       <div class="col-lg-6 text-center">
                            <img src="assets/images/slide-image.png" alt="moniter">
                        </div>
                        <div class="col-lg-6 ">
                            <p class="slide-heading mb-2">YOUR TITLE HERE</p>
                            <p class="slide-text">Cursuspenatisaccum curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
                            <div class="">
                               <a href="#"> <button type="button" class="bg-info text-light px-2 py-1 rounded border-0">READ MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 text-center">
                            <img src="assets/images/slide-image.png" alt="moniter">
                        </div>
                        <div class="col-lg-6 ">
                            <p class="slide-heading mb-2">YOUR TITLE HERE</p>
                            <p class="slide-text">Cursuspenatisaccum curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
                            <div class="">
                               <a href="#"> <button type="button" class="bg-info text-light px-2 py-1 rounded border-0">READ MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 text-center">
                            <img src="assets/images/slide-image.png" alt="moniter">
                        </div>
                        <div class="col-lg-6 ">
                            <p class="slide-heading mb-2">YOUR TITLE HERE</p>
                            <p class="slide-text">Cursuspenatisaccum curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
                            <div class="">
                               <a href="#"> <button type="button" class="bg-info text-light px-2 py-1 rounded border-0">READ MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
		 
					<ol class="carousel-indicators mr-0 justify-content-end">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
					</ol>
				 
        </div>
    </section>
    <section class="container-fluid advertise py-5">
        <p>Ye kisi kam to aajayega else ise comment kar denge</p>
    </section>
    <section class="container-fluid service">
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/ser.png" alt="80*80">
                    </div>
                    <div class="col-md-8 ml-3">
                        <p class="mb-0 text-info ser-title">Title Goes Here</p>
                        <p class="ser-text">Morbit incidunt maurisque eros molest nunc anteget sed vel lacus mus semper. Anter dumnullam.</p>
                    </div>
                </div>
            </div>
           <div class="col-lg-4 col-md-6 pb-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/ser.png" alt="80*80">
                    </div>
                    <div class="col-md-8 ml-3">
                        <p class="mb-0 text-info ser-title">Title Goes Here</p>
                        <p class="ser-text">Morbit incidunt maurisque eros molest nunc anteget sed vel lacus mus semper. Anter dumnullam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/ser.png" alt="80*80">
                    </div>
                    <div class="col-md-8 ml-3">
                        <p class="mb-0 text-info ser-title">Title Goes Here</p>
                        <p class="ser-text">Morbit incidunt maurisque eros molest nunc anteget sed vel lacus mus semper. Anter dumnullam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/ser.png" alt="80*80">
                    </div>
                    <div class="col-md-8 ml-3">
                        <p class="mb-0 text-info ser-title">Title Goes Here</p>
                        <p class="ser-text">Morbit incidunt maurisque eros molest nunc anteget sed vel lacus mus semper. Anter dumnullam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/ser.png" alt="80*80">
                    </div>
                    <div class="col-md-8 ml-3">
                        <p class="mb-0 text-info ser-title">Title Goes Here</p>
                        <p class="ser-text">Morbit incidunt maurisque eros molest nunc anteget sed vel lacus mus semper. Anter dumnullam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/ser.png" alt="80*80">
                    </div>
                    <div class="col-md-8 ml-3">
                        <p class="mb-0 text-info ser-title">Title Goes Here</p>
                        <p class="ser-text">Morbit incidunt maurisque eros molest nunc anteget sed vel lacus mus semper. Anter dumnullam.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid intro border-bottom border-muted py-5">
        <div class="contact">
				<h1>contact.</h1>
				<div class="row">
					<div class="col-md-2 offset-md-3">
						 <i class="fa fa-rocket faa"></i>
						<p>My Location</p>
						<h6>348, morroco place baverely hills</h6>
						<h6>CA 90210</h6>
					</div>
					<div class="col-md-2">
						 <i class="fa fa-phone-square faa"></i>
						<p>Phone number.</p>
						<h6>(+1)527 397 700</h6>
						<h6>(+1)537 397 700</h6>
					</div>
					<div class="col-md-2">
						 <i class="fa fa-envelope faa"></i>
						<p>Email Address.</p>
						<h6>admin@pixie.com</h6>
						<h6>info@pixie.com</h6>
					</div>
					
					<div class="col-md-6 offset-md-3 form">
						<div class="row mb-3">
							<div class="col ">
								<input type="text" class="form-control bg " placeholder="Name*">
							</div>
							<div class="col">
								<input type="text" class="form-control bg " placeholder="Email*">
							</div>
						</div>
						  
						<input type="text" class="form-control bg  mb-3" placeholder="Subject*"> 
						<textarea class="form-control bg mb-3" placeholder="Message*" rows="4"></textarea>
						<input type="button" class="btn btn-danger " value="SEND MESSAGE">
					</div>
				</div>
			</div>
    </section>
    <section class="container-fluid footer bg-dark py-5">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h6 class="foot-head">Contact Details</h6>
                <p class="mb-0">Company Name</p>
                <p class="mb-0">Street Name & Number</p>
                <p class="mb-0">Town</p>
                <p class="mb-0">Postcdoe/Zip</p>
                <p class="mb-0">Tel:xxxxx xxxxxxxxxx</p>
                <p class="mb-0">Fax:xxxxx xxxxxxxxxx</p>
                <p class="mb-0">Email:<span class="text-info">contact@mydomain.com</span></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h6 class="foot-head">Quick Links</h6>
                <p class="text-info link  ">Link Text Here</p>
                <p class="text-info link ">Link Text Here</p>
                <p class="text-info link ">Link Text Here</p>
                <p class="text-info link ">Link Text Here</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h6 class="foot-head">Total Donations</h6>
                <p class="font-weight-bold mb-0">Share Smile</p>
                <p>Donations yet***</p>
                <p class="mb-0">Vestiasvfdsavfg egestibulucumsan egestibulum eu justo convallis augue estas aenean elit intesque sed estibulum.</p>
                <p class="d-flex justify-content-end"><a href="#" class="nav-link text-info">Read More <i class="fa fa-angle-double-right"></i></a></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h6 class="foot-head">Donate Us</h6>
                <form class="foot-form">
                    <input type="text" class="form-control mb-2 border-0" placeholder="Enter Upi">
                    <input type="email" class="form-control mb-2 border-0" placeholder="Enter Amount">
                    <button class="btn btn-info py-1 px-3">Pay</button>
                </form>
            </div>
        </div>
    </section>
    <section class="container-fluid below-footer py-4">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
                <p class="mb-0">Copyright &copy 2013-All Rights Reserved- Domain Name</p>
                <p class="mb-0">Template by OS Templates</p>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>